@page "/"

<h1>@Message</h1>

<button @onclick="IncrementCount">Click Me</button>
<h3>@Count</h3>

@code {
    [Parameter]
    public string Message { get; set; } = String.Empty;

    private int Count { get; set; }

    private void IncrementCount()
    {
        Count++;
    }
}